@page "/"
@using static System.Net.WebRequestMethods
@using static GoodHamburguer.Frontend.Models.HamburgueriaModels
@using System.Net.Http.Json   
@inject HttpClient Http

<PageTitle>Cardápio - Good Hamburger</PageTitle>
<h1>🍔 Good Hamburger</h1>
<hr />

@if(produtos == null)
{
    <p><em>Carregando nosso cardápio ...</em></p>
}
else
{
    
    <div class="row">
        <div class="col-md-8">
            <h3>Cardapio</h3>
            <div class="list-group">
                @foreach(var produto in produtos)
                {
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>@produto.Nome</strong> <br />
                            <span class="text-success">R$ @produto.Preco.ToString("F2")</span>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
}


@code {
    private List<ProdutoModel> produtos;

    protected override async Task OnInitializedAsync()
    {
        produtos = await Http.GetFromJsonAsync<List<ProdutoModel>>("api/Cardapio");
    }

}
